.items-contaier{
    
    justify-content: space-evenly;
}

.batteries{
    align-items: center;
    
    
}
.t-batteries{
    padding: 0.5rem;
}

hr {
    margin: auto;
    border: 1.5px solid rgb(150, 150, 150);
    width: 5;
    clear: both;
  }
  .items{
    gap: 2.5rem;
    justify-content: space-evenly;
  }