.h-wrapper{
    background: var(--secondary);
    color: var(--black);
}
.contianer{
    align-items: center;
    justify-content: space-evenly;
}
.appbar{
gap: 6rem;    
padding-bottom: 1rem;
}
.appbar-right{
    background-color: none;
    justify-content: space-between;
    flex-direction: row;
}
.likes{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.account{
    padding-right: 0.5rem;
}
.search-bar{
    background-color: white;
    border-radius: 20rem;
    justify-content: space-between ;
}
.search-bar>input{
    border: none;
    outline: none;
}
.search{
    background-color: var(--blue);
    border-radius: 30px;
    padding: .2rem;
    
    justify-content: space-between ;  
}
.h-first{
    color: var(--blue);
}
.h-second{
    color: var(--blue);
}

.h-container{
    
    padding: 1rem;
    justify-content: space-between;
        width: 100%;
    color: var(--black);
    background-color: white;
    flex-direction: row;
    gap: 2rem;
}


.h-menu{
    color: var(--black);
    gap: 2rem;
}          

.h-menu>*:hover{
    cursor: pointer;
}

